<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
   <!-- Appenders -->
   <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
       <param name="Target" value="System.out" />
       <layout class="org.apache.log4j.PatternLayout">
           <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n" />
       </layout>
   </appender>
   
   <!-- 3rdparty Loggers -->
   <logger name="org.springframework.core">
       <level value="INFO" />
   </logger>
    
   <logger name="org.springframework.beans">
       <level value="INFO" />
   </logger>
     
   <logger name="jdbc" level="OFF"/>

   <logger name="com.zaxxer.hikari" additivity="false">
   	  <level value="ERROR" />
      <appender-ref ref="STDOUT" />
   </logger>

   <logger name="org.springframework.boot" additivity="false">
   	  <level value="ERROR" />
      <appender-ref ref="STDOUT" />
   </logger>

   <logger name="org.springframework.core" additivity="false">
   	  <level value="ERROR" />
      <appender-ref ref="STDOUT" />
   </logger>

   <logger name="jdbc.sqlonly" additivity="false">
   	  <level value="DEBUG" />
      <appender-ref ref="STDOUT" />
   </logger>

   <logger name="jdbc.resultsettable" additivity="false">
   	  <level value="DEBUG" />
      <appender-ref ref="STDOUT" />
   </logger>

   <logger name="org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod" additivity="false">
   	  <level value="DEBUG" />
      <appender-ref ref="STDOUT" />
   </logger>

 
    <!-- Root Logger -->
    <root>
        <priority value="ERROR" />
        <appender-ref ref="STDOUT" />
    </root>
     
</log4j:configuration>